*.egg-info
.idea
__pycache__
.coverage
.coverage.*
htmlcov
*.pyc
docs/_build
venv
dist
.pytest_cache
.mypy_cache
build
.vs/
.vscode/
.idea/
.project/
*.iml
.env
.tox/*
!.tox/dist
.tox/dist/*
!.tox/dist/dck_problem1-0.0.1.tar.gz
